.container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 30000;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0.3rem;
  padding-top: 0.72rem;
}
.desc{
  margin-top: 0.5rem;
  font-family: 'Segoe UI';
  color: #fff;
  font-size: 0.16rem;
  text-align: center;
  margin-bottom: 0.3rem;
}
.videoWrapper{
  width: 100%;
  height: 80vh;
}
.video{
}
.preIcon{
  width: 0.5rem;
  height: auto;
  left: 0.32rem;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  cursor: pointer;
}
.nextIcon{
  width: 0.5rem;
  height: auto;
  right: 0.32rem;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  cursor: pointer;
}
.closeIcon{
  width: 0.13rem;
  height: auto;
  position: absolute;
  top: 0.86rem;
  right: 0.37rem;
}

