.container{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #2e2e2e;
    overflow: hidden;
}
.imgWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    background-color: transparent;
}
.swiperImg {
    height: 5rem;
    width: auto;
}
.activeItem {
  transform: scaleX(1.35); 
}

.container :global(.swiper-pagination-custom){
    bottom: 0.03906rem;
    left: 0;
    width: 100%;
}
.container :global(.swiper-pagination){
    position: absolute;
text-align: center;
transition: 300ms opacity;
transform: translate3d(0, 0, 0);
z-index: 10;
}
.container :global(.swiper-pagination-customs){
    display:inline-block;
    border-radius: 50%;
    margin: 0 0.05rem;
    outline: 0;
    width: 0.16rem;
    height: 0.16rem;
    background-color: #fff;
    background-clip: content-box;
    padding: 0.04rem;
}
.container :global(.swiper-pagination-customs-active) {
    border: 0.01rem solid #fff;
    }

  .swiperTitle{
      position: absolute;
      top: 1.23rem;
      margin: auto;
      left: 0;
      right: 0;
      font-family: 'RubikBold';
      color: #fff;
      font-size: 0.4rem;
      font-weight: bold;
      text-align: center;
      z-index: 10000;
  }
  .swiperText{
      font-family: 'RobotoRegular';
      font-size: 0.2rem;
      color: #fff;
      position: absolute;
      width: 4.97rem;
      text-align: center;
      left: 0;
      right: 0;
      margin: auto;
      top: 1.87rem;
      z-index: 10000;
  }
  
