.container{
    height: 835px;
    padding-top: 17px;
    padding-bottom: 17px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color:  #2e2e2e;;
    overflow: hidden;
}
.imgWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    background-color: transparent;
}
.swiperImg {
    height: 835px;
    width: auto;
}
.activeItem {
  transform: scaleX(1.35); 
}
.preItem,.nextItem{
 transform: scale(0.48,0.9);
}
.preItem .swiperImg{
    height: 835px;
    width: auto;
    transform: scale(2.083,1.111); 
}
.nextItem .swiperImg{
    height: 835px;
    width: auto;
    transform: scale(2.083,1.111); 
}
.container :global(.swiper-pagination-custom){
    bottom: 0.03906rem;
    left: 0;
    width: 100%;
}
.container :global(.swiper-pagination){
    position: absolute;
text-align: center;
transition: 300ms opacity;
transform: translate3d(0, 0, 0);
z-index: 10;
}
.container :global(.swiper-pagination-customs){
    display:inline-block;
    border-radius: 50%;
    margin: 0 5px;
    outline: 0;
    width: 16px;
    height: 16px;
    background-color: #fff;
    background-clip: content-box;
    padding: 4px;
}
.container :global(.swiper-pagination-customs-active) {
    border: 1px solid #fff;
    }
.container :global(.swiper-button-prev){
    left: 130px;
    width: 75px;
    height: 75px;
    cursor: pointer;
   background: url(../../../public/pre.png)  no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
  border-radius: 6px;
}
.container :global(.swiper-button-next){
    right:130px;
    width: 75px;
    height: 75px;
    cursor: pointer;
   background: url(../../../public/next.png)  no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
  border-radius: 6px;
}
.container :global(.swiper-button-prev):active,.container :global(.swiper-button-prev):focus{
  opacity: 0.4;
}
.container :global(.swiper-button-next):active,.container :global(.swiper-button-next):focus{
  opacity: 0.4;
}
.container :global(.swiper-button-next)::after{
  content:'';
}
.container :global(.swiper-button-prev)::after{
  content:'';
}
.leftMask{
    position: absolute;
    left:  0;
    width: 90px;
    height: 810px;
    top: 0;
    bottom: 0;
    margin: auto;
    -moz-box-shadow:  0 0 45px 30px #000;
    -webkit-box-shadow:  0 0 45px 30px #000;
    box-shadow:  0 0 45px 30px #000;
    background-color: #000;
    z-index: 10000;   
}
.rightMask{
    position: absolute;
    right:  0;
    width: 90px;
    height: 810px;
    top: 0;
    bottom: 0;
    margin: auto;
    -moz-box-shadow:  0 0 45px 30px #000;
    -webkit-box-shadow:  0 0 45px 30px #000;
    box-shadow:  0 0 45px 30px #000; 
    background-color: #000;   
    z-index: 10000;
}
  .activeItem .swiperTitle{
      position: absolute;
       transform: scaleX(0.74);
      top: 254px;
      margin: auto;
      left: 0;
      right: 0;
      font-family: 'RobotoBold';
      color: #fff;
      font-size: 51px;
      font-weight: bold;
      text-align: center;
      z-index: 10000;
  }
    .activeItem .swiperText{
      transform: scaleX(0.74);
      font-family: 'RobotoRegular';
      font-size: 16px;
      color: #fff;
      position: absolute;
      width: 732px;
      text-align: center;
      left: 0;
      right: 0;
      margin: auto;
      top: 329px;
      z-index: 10000;
  }
 .swiperText:hover{
   text-decoration: underline;
   cursor: pointer;
 }
 .nextItem .swiperTitle,.preItem .swiperTitle,.nextItem .swiperText,.preItem .swiperText{
   display: none;
 }
  .contactBtn{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 452px;
    z-index: 10000;
  }
  .contactBtn:active{
    opacity: 0.5;
  }
  .contactText{
    font-size: 20px;
    background-clip: text;
    background-image:  linear-gradient(90deg, #02D9DE 0%, #E217FC 50%, #E217FC 100%);
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    font-family: 'RubikRegular';
  }
