.container{
    margin-top: 0.36rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    color: #fff;
    font-family: 'RobotoRegular';
    font-size: 0.4rem;
    text-align: center;
}
.text{
    font-size: 0.16rem;
    font-family: 'RobotoRegular';
    text-align: center;
    color: rgba(255,255,255,0.6);
    width: 5.8rem;
}
.nameInput,.emailInput{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    align-self: stretch;
    height: 0.78rem;
    margin-bottom: 0.15rem;
    padding-left: 0.15rem;
    font-family: 'RobotoRegular';
    font-size: 0.23rem;
    color: #9e9e9e;
    border: 1px solid #4E4E4E;
    background: #272727 0% 0% no-repeat;
    }

    .signBtn{
        margin-left: 0.2rem;
    margin-right: 0.2rem;
        align-self: stretch;
        color: #fff;
        font-family: 'RobotoRegular';
        font-size: 0.22rem;
        text-align: center;
        line-height: 0.78rem;
        background-image: linear-gradient(to right,#02D9DE , #E217FC 90%,#E217FC);
        cursor: pointer;
      }
    .signBtn:active{
      opacity: 0.4;
    }
