.container{
    background-color:  #2e2e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.waterfall{
    display: flex;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}
.col1,.col2,.col3,.col4{
    margin-right: 15px;
    flex: 1;
}
.col4{
    margin-right: 0;
    width: auto;
}
.imgWrapper{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: #000;
    line-height: 21px;
    position: relative;
}
.editBox{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: none;
}
.editShow{
    display: flex;
}
.editLeft{
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.editLeft :global(.ant-select-selection){
    border-radius: 0;
    background-color: #272727!important;
    height: 42px;
    border-color: #4e4e4e;
    color: #fff;
}
.editLeft :global(.ant-select-enabled):hover,.editLeft :global(.ant-select-enabled):active {
    border-color: #4e4e4e!important;

}
.editLeft :global(.ant-select-open){
  background-color: #272727!important;
}
.editLeft :global(.ant-select-selection):active{
    border: 0!important;
    border-color: #4e4e4e;
}
.editLeft :global(.ant-select-focused),.editLeft :global(.ant-select-selection),.editLeft :global(.ant-select-selection):focus,.editLeft :global(.ant-select-selection) :active{
    box-shadow: none;
    border-color: #4e4e4e!important;
}
.dropDown{
    width: 100%;
    border-radius: 0;
    border: 1px solid #4e4e4e!important;
}
.dropOption{
    border-radius: 0;
    
}
.levelDropdown{
    width: 100%;
    border-radius: 0;
    border: 1px solid #4e4e4e!important;
}
.levelDropdownoption{
    border-radius: 0;
}
.editLeft :global(.ant-select){
    margin-bottom: 10px!important;
}

.editInput{
    height: 42px;
    border: 1px solid #4E4E4E;
    background-color: #272727;
    margin-bottom: 10px;
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    color: #fff;
    line-height: 42px;
    padding-left: 20px;
    padding-right: 20px;
}
.editTextArea{
    height: 42px;
    border: 1px solid #4E4E4E;
    background-color: #272727;
    margin-bottom: 10px;
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    color: #fff;
    line-height: 42px;
    padding-left: 20px;
    padding-right: 20px;
}
.editRight{
width: 46px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.editClose{
 width: 15px;
 height: auto;
}
.editUpdate{
    width: 15px;
    height: auto;
    cursor: pointer;
}
.updateView{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkIcon{
    width: 15px;
    height: auto;
    cursor: pointer;  
}
.loadMore{
    position: relative;
    width: 367px;
    height: 45px;
    margin-bottom: 91px;
    margin-top: 73px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}
.loadMoreImg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: auto;
}
.loadMoreText{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 110px;
    height: auto;
}
.nameText{
color: #fff;
font-family: 'Microsoft YaHei';
font-size: 18px;
margin-left: 9px;
}
.dateText{
 font-size: 14px;
 font-family: 'Microsoft YaHei';
 color: rgba(255,255,255,0.6);
 margin-left: 14px;
}
.desc{
    font-size: 14px;
    font-family: 'Microsoft YaHei';
    color: rgba(255,255,255,0.6);
    padding-left: 9px;
}
.imgFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.editIcon{
    width: 21px;
    height: auto;
}
.uploadBox{
    background-color: #000;
}
.upperBox{
    background-color: #4E4E4E;
    height: 286px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.fileUpload{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    cursor: pointer;
}
.preview{
    position: absolute;
    height: 100%;
    width: auto;
    left: 0;
    right: 0;
    margin: auto;
}
.uploadIcon{
    width: 42px;
    height: auto;
}
.uploadText{
    font-family: 'Source Han Sans CN';
    font-size: 21px;
    color: #9e9e9e;
    margin-top: 14px;
}
.uploadFooter{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}
.uploadLeft{
    flex: 1;
    display: flex;
 flex-direction: column;
 justify-content: center;
}
.uploadLeft{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .uploadLeft :global(.ant-select-selection){
       border-radius: 0;
       background-color: #272727!important;
       height: 42px;
       border-color: #4e4e4e;
       color: #fff;
   }
   .uploadLeft :global(.ant-select-enabled):hover,.uploadLeft :global(.ant-select-enabled):active {
       border-color: #4e4e4e!important;
   
   }
   .uploadLeft :global(.ant-select-open){
     background-color: #272727!important;
   }
   .uploadLeft :global(.ant-select-selection):active{
       border: 0!important;
       border-color: #4e4e4e;
   }
   .uploadLeft :global(.ant-select-focused),.uploadLeft :global(.ant-select-selection),.uploadLeft :global(.ant-select-selection):focus,.uploadLeft :global(.ant-select-selection) :active{
       box-shadow: none;
       border-color: #4e4e4e!important;
   }
   .uploadLeft :global(.ant-select){
    margin-bottom: 10px!important;
}
.uploadView{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uploadInput{
    height: 42px;
    border: 1px solid #4E4E4E;
    background-color: #272727;
    margin-bottom: 10px;
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    color: #fff;
    line-height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
.uploadRight{
    width: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.uploadTextArea{
    height: 42px;
    border: 1px solid #4E4E4E;
    background-color: #272727;
    margin-bottom: 10px;
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    color: #fff;
    line-height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
.closeIcon{
    width: 14px;
    height: auto;
}
.uploadSmallIcon{
    width: 16px;
    height: auto;
}
.checkIcon{
    width: 16px;
    height: auto;
}