.container {
    position: fixed;
    height: 78px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20007;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,#0dd0e0, #0dd0e0, #449fe7, #8369ef, #c62ef8, #dd1bfc);
    opacity: 0.9;
  }
  .closeIcon{
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .smileIcon{
    font-size: 40px;
    color: #fff;
  }
  .subText{
    font-family: 'Segoe UI';
    font-size: 30px;
    color: #fff;
    margin-left: 25px;
  }
  .subInput{
    width: 428px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: #4e4e4e;
    font-size: 20px;
    margin-left: 90px;
    padding-left: 39px;
    line-height: 40px;
  }
  .sendBtn{
    width: 62px;
    height: 62px;
    border-radius: 31px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
    cursor: pointer;
  }
  .sendIcon{
   width: 32px;
   height: auto;
  }