.container {
    position: fixed;
    height: 103px;
    left: 0;
    right: 0;
    bottom: 79px;
    z-index: 20001;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,#0dd0e0, #0dd0e0, #449fe7, #8369ef, #c62ef8, #dd1bfc);
  }
  .closeIcon{
    width: 16px;
    height: auto;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .smileIcon{
    font-size: 40px;
    color: #fff;
  }
  .subText{
    font-family: 'Segoe UI';
    font-size: 30px;
    color: #fff;
    margin-left: 25px;
  }
  .subInput{
    width: 428px;
    height: 62px;
    border-radius: 31px;
    border: none;
    color: #D2D2D2;
    font-size: 30px;
    margin-left: 90px;
    padding-left: 39px;
    line-height: 62px;
  }