.container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 30000;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 72px;
}
.desc{
  margin-top: 50px;
  font-family: 'Segoe UI';
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}
.videoWrapper{
  width: 1606px;
  height: 80vh;
}
.video{
}
.preIcon{
  width: 50px;
  height: auto;
  left: 32px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  cursor: pointer;
}
.nextIcon{
  width: 50px;
  height: auto;
  right: 32px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  cursor: pointer;
}
.closeIcon{
  width: 13px;
  height: auto;
  position: absolute;
  top: 86px;
  right: 37px;
}
