<!doctype html>
<html>
<head>
  <meta charSet="utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>GalaxyCGI Visualization</title>
  <link rel="icon" href="logo.ico" type="image/x-icon">
  <style type="text/css">
  #splashbox{
    position: fixed;
    z-index: 50000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  .splashContent{
    background-image: url(/splash.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    position: relative;
  }
  .progressBox{
    margin-top: 43px;
    width: 439px;
    height: 10px;
    border-radius: 13px;
    background-color: #fff;
  }
  .progress{
    margin-top: 43px;
    width: 439px;
    height: 10px;
    border-radius: 13px;
    animation: colorAnimation 3s linear;
    background: linear-gradient(to right, #0dd0e0, #449fe7, #8369ef, #c62ef8, #dd1bfc);
  }
  @keyframes colorAnimation {
    0% {
      background-image: linear-gradient(to right, #0dd0e0, #449fe7, #8369ef, #c62ef8, #dd1bfc);
    }
    20% {
      background-image: linear-gradient(to right, #dd1bfc, #0dd0e0, #449fe7, #8369ef, #c62ef8);
    }
    40% {
      background-image: linear-gradient(to right, #c62ef8, #dd1bfc, #0dd0e0, #449fe7, #8369ef);
    }
    6% {
      background-image: linear-gradient(to right, #8369ef, #c62ef8, #dd1bfc, #0dd0e0, #449fe7);
    }
    80% {
      background-image: linear-gradient(to right, #449fe7, #8369ef, #c62ef8, #dd1bfc, #0dd0e0);
    }
    100% {
      background-image: linear-gradient(to right, #0dd0e0, #449fe7, #8369ef, #c62ef8, #dd1bfc);
    }
  }
    .logo{
      width: 204px;
      height: auto;
      margin-left: 65px;
      margin-top: 57px;
      align-self: flex-start;
    }
    .text1{
      color: #fff;
      font-size: 30px;
      font-weight: bold;
      font-family: 'RubikBold';
      line-height: 40px;
    }
    .text2{
      color: #fff;
      font-size: 30px;
      font-weight: bold;
      font-family: 'RubikBold';
      line-height: 40px;
    }
    .splashFooter{
      font-family: 'RubikRegular';
      height: 64px;
      justify-content: center;
      align-items: center;
      display: flex;
      background-color: #fff;
    }
      .logoM{
        width: 40vw;
        height: auto;
        margin-left: 65px;
        margin-top: 57px;
        align-self: flex-start;
      }
      .text1M{
        color: #fff;
        font-size: 4vw;
        font-weight: bold;
        font-family: 'RubikBold';
        line-height: 9vw;
      }
      .text2M{
        color: #fff;
        font-size: 4vw;
        font-weight: bold;
        font-family: 'RubikBold';
        line-height: 9vw;
      }
      .splashFooterM{
        font-family: 'RubikRegular';
        height: 100px;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: #fff;
        font-size: 4vw;
      }
    .box{
      position: absolute;
      text-align: center;
      top: 50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
  .boxM{
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 43%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  </style>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/template" id="splashtemplate">
    <div id="splashbox">
    <div class="splashContent">
      <img id="logo" alt="" src="./purplelogo.png" />
      <div id="box">
      <div id="text1">We Visualize your design</div>
      <div id="text2">in fantastic ways</div>
      <div class="progress"></div>
      </div>
    </div>
    <div id="splashFooter">Copyright © 2020 GalaxyCGI. All Rights Reserved.</div>
  </div>
  </script>
  <script type="text/javascript">
  var template=document.getElementById("splashtemplate").innerHTML;
  var isMobile=window.screen.width<768;
   $(document).ready(function(){
     $("body").append(template)
     var logoNode=$('#logo')
     var text1Node=$('#text1')
     var text2Node=$('#text2')
     var boxNode=$('#box')
     var splashFooterNode=$('#splashFooter')
     if(isMobile){
       logoNode.addClass('logoM')
       text1Node.addClass('text1M')
       text2Node.addClass('text2M')
       boxNode.addClass('boxM')
       splashFooterNode.addClass('splashFooterM')
     }else{
       logoNode.addClass('logo')
       text1Node.addClass('text1')
       text2Node.addClass('text2')
       boxNode.addClass('box')
       splashFooterNode.addClass('splashFooter')
     }
   })
  </script>
  <script type="text/javascript">
  $(window).load(function(){
    setTimeout(() => {
      $("#splashbox").remove() 
    },3000);
  })
     </script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
