.container{
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
}
.banner{
    height: 500px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}
.bannerImg{
    width: 100%;
    height: auto;
}
.bannerTextBox{
position: absolute;
}
.bannerTitle{
color: #fff;
font-family: 'Microsoft YaHei';
font-size: 51px;
text-align: center;
}
.bannerText{
color: #fff;
font-family: 'Roboto';
font-size: 20px;
width: 542px;
}
.midBox{
    

}
.midInnerBox{
    padding-left: 243px;
    padding-right: 243px;
}
.listTitle{
font-family: 'Microsoft YaHei';
color: #fff;
font-weight: bold;
font-size: 40px;
margin-bottom: 54px;
margin-top: 93px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #4e4e4e;
}
.midInnerBox:last-child .list{
    border: none;
}

.listItem{    
    margin-bottom: 70px;
    width: 202px;
    margin-right: calc(100%/3 - 808px/3);   
}
.adminBox{
    width: 319px;
    border: 1px solid #4E4E4E;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #272727;
    position: relative;
    margin-right: calc(100%/3 - 1276px/3); 
}
.nameInput{
    background-color: transparent;
    font-family: 'Roboto';
    font-size: 26px;
    color: #fff;
    border: 1px solid #4E4E4E;
    width: 100%;
    height: 45px;
    padding-left: 9px;
    margin-bottom: 10px;
}
.jobInput{
    background-color: transparent;
    border: 1px solid #4E4E4E;
    width: 100%;
    height: 45px;
    padding-left: 9px; 
    font-family: 'Roboto';
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}
.emailInput{
    background-color: transparent;
    border: 1px solid #4E4E4E;
    width: 100%;
    height: 45px;
    padding-left: 9px; 
    background: transparent linear-gradient(92deg, #06D5DE 0%, #D81FFA 100%) 0% 0% no-repeat;
    background-clip: text;
    color: transparent;
    margin-bottom: 22px;
}
.confirmBtn{
    width: 100%;
    height: 45px;
    background:linear-gradient(92deg, #06D5DE 0%, #D81FFA 100%) 0% 0% no-repeat;
    line-height: 45px;
    text-align: center;
    border-radius: 22.5px;
    font-family: 'Roboto';
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.closeIcon{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    width: 20px;
    height: auto;
    cursor: pointer;
}
.addMIcon{
    width: 34px;
    height: auto;
}
.addBox{
    width: 319px;
    border: 1px solid #4E4E4E;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top: 45px;
    padding-bottom: 45px;
    cursor: pointer;
}
.addText{
    font-family: 'Source Han Sans CN';
    font-size: 14px;
    color: rgba(255,255,255,0.6);
    margin-top: 7px;
}
.listItem:nth-child(4n+4){
    margin-right: 0;
}
.listItem:last-child{
    margin-bottom: 93px;
}

.nameText{
font-family: 'Roboto';
font-size: 26px;
color: #fff;
}
.jobText{
font-family: 'Roboto';
font-size: 16px;
color: #fff;
}
.emailText{
    background: transparent linear-gradient(92deg, #06D5DE 0%, #D81FFA 100%) 0% 0% no-repeat;
    background-clip: text;
    color: transparent;
}