
  .nav-icon .nav-line-actived-3{
    margin:0.08rem 0.06rem 0.08rem 0.06rem;
    width:0.27rem;
    height: 0.02rem;
    transform: translate(0, -0.09rem) rotate(-45deg);
  }
  .nav-icon{
    position: fixed;
    top:0.27rem;
    right:0.3rem;
    height:0.36rem;
    width:0.36rem;
    transform-style: preserve-3d;
    perspective: 6rem;
    z-index: 20005;
    cursor: pointer;
    margin:auto;
  }
  
  .nav-icon .nav-line{
    margin:0.08rem 0.06rem 0.08rem 0.06rem;
    width:0.22rem;
    height: 0.02rem;
    background: white;
    transition: all .1s ease-out;
  }
  
  /* onhover */
  .nav-icon:hover #nav-line-1{
    /* margin-right:0; */
    width:0.27rem;
  }
  .nav-icon:hover #nav-line-2{
    width:0.18rem;
    /* margin:8px 8px 8px 8px; */
  }
  .nav-icon:hover #nav-line-3{
    /* margin-left:0; */
    width:0.27rem;
  }
  /* nav-line-clicked */
  .nav-icon .nav-line-actived-1{
    margin:0.08rem 0.06rem 0.08rem 0.06rem;
    width:0.27rem;
    height: 0.02rem;
    transform: translate(0, 0.099rem) rotate(45deg);
  }
  .nav-icon .nav-line-actived-2{
    margin:0.08rem 0.06rem 0.08rem 0.06rem;
    width:0.27rem;
    height: 0.02rem;
    opacity:0;
  }
  .nav-icon .nav-line-actived-3{
    margin:0.08rem 0.06rem 0.08rem 0.06rem;
    width:0.27rem;
    height: 0.02rem;
    transform: translate(0, -0.099rem) rotate(-45deg);
  }