.container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    display: none;
    flex-direction: column;
    padding-left: 134px;
    z-index: 20003;
    align-items: flex-start;
}
.visible{
    display: flex;
}
.header{
    margin-top: 44px;
    padding-right: 43px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    align-self: flex-end;
}
.closeIcon{
    width: 45px;
    height: auto;
}
.avatar{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.nameText{
    font-family: 'Roboto';
    font-size: 35px;
    color: #fff;
}
.jobText{
    font-family: 'Roboto';
    font-size: 21px;
    color: #fff;
}
.emailText{
    background-image:linear-gradient(92deg, #06D5DE 0%, #D81FFA 100%);
    background-color: transparent;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 21px;
    font-family: 'Roboto';
    margin-bottom: 118px;
}
.menuItem{
    font-family: 'Segoe UI';
    font-size: 40px;
    color: #9E9E9E;
    margin-bottom: 46px;
    cursor: pointer;
}
.active{
    color:#fff
}
.footer{
    display: flex;
    margin-top: auto;
    margin-bottom: 73px;
}
.footerIcon{
    width: 35px;
    height: auto;
    margin-right: 46px;
    cursor: pointer;
}
