.container{
    position: fixed;
    bottom: 3.23rem;
    left: 0.32rem;
    right: 0.32rem;
    margin: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.27rem;
    z-index: 30000;
}
/*.container{
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 1rem 0.2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.2rem;
  z-index: 30000;
  -webkit-border-radius: 0.03rem;
  -moz-border-radius: 0.03rem;
  border-radius: 0.03rem;
}*/
.closeIcon{
    position: absolute;
    width: 0.28rem;
    height: auto;
    top: 0.22rem;
    right: 0.31rem;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.41rem;
    margin-bottom: 0.37rem;
}
.chatIcon{
    width: 0.43rem;
    height: auto;
}
.chatTitle{
    font-weight: bold;
    font-size: 0.4rem;
    font-family: 'RubikBold';
    margin-left: 0.1rem;
}
.messageBox{
    padding-left: 0.14rem;
    padding-right: 0.14rem;
    padding-top: 0.17rem;
    background-color: #F5F5F5;
    height: 7.69rem;
    overflow-y: scroll;
    margin-left:0.29rem;
    margin-right: 0.29rem;
}
.nameText{
    height: 0.43rem;
    line-height: 0.43rem;
    font-size: 0.32rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.sendBox{
  display: flex;
  justify-content: space-between;
  margin-top: 0.2rem;
}
.inputContainer{
  position: relative;
  width:2.5rem;
  flex: 1;
}
.hidden {
  word-break: break-word;
  width: 100%;
  padding-left: 0.29rem;
  overflow-y: hidden;
  font-family: 'RobotoRegular';
  margin-top: 0;
  border: none;
  font-size: 0.16rem;
}
.emojiBox{
    display: flex;
    align-items: center;
    margin-top: 0.15rem;
    margin-left: 0.53rem;
}
.xiaolianIcon{
width: 0.4rem;
height: auto;
}
.folderIcon{
 width: 0.4rem;
 height: auto;
 margin-left: 0.29rem;
}
.chatTextarea{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  font-size: 0.26rem;
  border: none;
  color: #C5C5C5;
  margin-top: 0;
  resize: none;
  font-family: 'RubikRegular';
  overflow-y: hidden;
  appearance: none;
  height: 100%;
  padding-left: 0.29rem;
  vertical-align: middle;
  line-height: 1.2;
  padding-top: 0.15rem;
}
.chatBtnWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  position: relative;
}
.sendBtn{
  padding: 0.05rem 0.2rem;
  margin-left: 0.05rem;
  margin-right: 0.24rem;
  cursor: pointer;
  line-height: 1;
  margin-top: 0.01rem;
  font-size: 0.3rem;
}
.sendBtnIcon {
  height: 0.3rem;
  width: auto;
}
.activeBtn{
  position: relative;
}
.assistantBox{
  display: flex;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  align-items: flex-start;
}
.avatar{
  width: 0.78rem;
  height: 0.78rem;
  border-radius: 0.39rem;
  margin-right: 0.15rem;
}
.assistantMsg{
  background-color: #fff;
  -webkit-border-radius: 0.04rem;
  -moz-border-radius: 0.04rem;
  border-radius: 0.04rem;
  font-size: 0.26rem;
  line-height: 1.2;
  margin-bottom: 0;
  padding: 0.15rem;
}
.assistantName{
  line-height: 0.43rem;
  font-size: 0.32rem;
  font-weight: bold;
}
.userBox{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.userMsg{
  background-color: #9EEA6A;
  border-radius: 0.04rem;
  font-size: 0.26rem;
  line-height: 1.2;
  padding: 0.15rem;
  margin-bottom: 0;
  word-break: break-word;
}
.chatBtnWrapper button {
  --top: 50%;
  --left: 50%;
  --size: 100%;
  --background: hsl(265, 100%, 50%);
  --color: hsl(265, 100%, 100%);
  /* :p */
  --border: none;
  color: var(--color);
  background: var(--background);
  border: 1px solid var(--border);
  font-family: inherit;
  font-size: 0.3rem;
  border-radius: 0.03rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* overflow and position matching the pseudo elements */
  overflow: hidden;
  position: relative;
  /* remove the default outline
! substituted with the pseudo elements
*/
  outline: none;
}
/* if existing, separate the inline icon from the text which follows */
.chatBtnWrapper button svg {
  width: 1em;
  height: auto;
  display: inline-block;
  margin: auto;
}

/* with a pseudo element add a semitransparent layer with the same color of the text */
.chatBtnWrapper button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: currentColor;
  border-radius: inherit;
  opacity: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.chatBtnWrapper button:focus:before,
.chatBtnWrapper button:hover:before {
  opacity: 0.1;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* with another pseudo element add a semitransparent layer clipped to be a circle */
.chatBtnWrapper button:after {
  content: "";
  position: absolute;
  top: var(--top);
  left: var(--left);
  transform: translate(-50%, -50%);
  width: var(--size);
  height: var(--size);
  background: currentColor;
  clip-path: circle(0%);
  opacity: 0.3;
  border-radius: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*
! add the transition only as the active state is "enabled"
! add a negative delay for the clip to already start from a small circle
! add a delay for the opacity to follow the clip-path
*/
.chatBtnWrapper button:active:after {
  clip-path: circle(100%);
  opacity: 0;
  transition: clip-path 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.3s ease-in-out;
  transition-delay: -0.1s, 0.5s;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
