.container{

}
.category{
  height: 2.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
  padding: 0 0.15rem;
}
.category-item{
  height:1rem;
  width: 2.45rem;
  background-color: #585858;
  border-radius: 0.5rem;
  color:#9e9e9e;
  font-size: 0.44rem;
  line-height: 1rem;
  text-align: center;
}
.galaxy-item{
  margin-left: 0.15rem;
  margin-right: 0.15rem;
}
.active-category{
  background: transparent linear-gradient(90deg, #02D9DE 0%, #BE29EA 100%) 0% 0% no-repeat;
  color: #fff;
}
.titleBox{
  background: transparent linear-gradient(90deg, #02D9DE 0%, #BE29EA 100%) 0% 0% no-repeat;
  height:1rem;
  font-size: 0.4rem;
  text-align: center;
  line-height: 1rem;
  color: #fff;
}
